spring.datasource.url = jdbc:postgresql://localhost:5432/parking-control-db
spring.datasource.username = *Seu usuario do postgres*
spring.datasource.password = *Sua senha do postgres*
spring.jpa.hibernate.ddl-auto = update

spring.jpa.properties.hibernate.jdbc.lab.non_contextual_creation = true